.edit {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10px;

  button {
    padding: 5px 10px;
  }
}

.delete-button {
  position: absolute;
  top: 4px;
  left: 55%;
  transform: translate(-40%);
  padding: 4px 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.btn-marker,
.btn-polyline,
.btn-polygon,
.btn-square {
  position: absolute;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn-marker {
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
}

.btn-polyline {
  top: 50px;
  left: 10px;
  width: 35px;
  height: 35px;
  img {
    width: 100%;
    height: 100%;
  }
}

.btn-polygon {
  top: 90px;
  left: 10px;
  width: 35px;
  height: 35px;
  img {
    width: 100%;
    height: 100%;
  }
}

.btn-square {
  top: 130px;
  left: 10px;
  width: 35px;
  height: 35px;
}

.active {
  background-color: #999;
  i {
    color: white;
  }
}

.btn-3D {
  position: relative;
  top: 50px;
  left: 8px;
  padding: 8px;

  border-radius: 3px;
  border: none;
  outline: none;

  box-shadow: 0 0 4px #999;
  background-color: white;
  font-weight: bold;
  &:hover {
    background-color: rgb(228, 228, 227);
  }
}

.btn-switch {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 1rem 2rem;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: 0 0 10px #333;
  border: none;
  outline: none;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    background-color: #333;
    color: white;
  }
}

.btn-location {
  padding: 10px 20px;
  font-weight: bold;
  margin: 10px 0 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 0.2s;

  &:hover {
    background-color: #333;
    color: white;
  }

  i {
    margin-right: 10px;
    color: rgba(100, 178, 241, 0.993);
  }
}

.search-box {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 40%;

  input {
    padding: 10px 20px;
    width: 100%;
  }

  ul {
    width: 100%;
  }
}

.cluster-marker {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
